.home-container {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  height: 100vh;
  justify-content: space-between; 
  padding: 0 2rem;
}

.left-container {
  max-width: 494px;
}

.left-container h1 {
  font-size: 4rem;
  margin: 2rem 1rem 0;
}

.left-container p {
  color: #838d9b;
  margin: 2rem 0;
}

.line {
  background-color: #ff6833;
  height: 0.5rem;
  width: 4rem;
}

.img-container {
  margin-right: 49px;
  position: relative;
  z-index: 0;
}

.dots {
  position: absolute;
  right: -49px;
  top: -49px;
  width: 276px;
  z-index: -1;
}

.image-cover {
  box-shadow: rgb(0 0 0 / 20%) 2px 6px 8px -4px;
  height: 300px;
  object-fit: cover;
  width: 450px;
}
