.home-container {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  height: calc(100vh - 3rem);
  justify-content: space-around;
}

.left-container {
  display: flex;
  flex-direction: column;
  max-width: 494px;
}

.left-container h1 {
  font-size: 4rem;
  margin: 2rem 0 0;
}

.left-container p {
  color: #838d9b;
  margin: 2rem 0;
}

.left-container btn-home {
  justify-content: flex-end;
}

.line {
  background-color: #ff6833;
  height: 0.5rem;
  width: 4rem;
}

.img-container {
  margin-right: 49px;
  position: relative;
  z-index: 0;
}

.dots {
  position: absolute;
  right: -49px;
  top: -49px;
  width: 276px;
  z-index: -1;
}

.image-cover {
  box-shadow: rgb(0 0 0 / 20%) 2px 6px 8px -4px;
  height: 300px;
  object-fit: cover;
  width: 450px;
}

footer {
  align-items: center;
  color: #ff6833;
  display: flex;
  font-size: 1.5rem;
  height: 3rem;
  justify-content: center;
}

footer a {
  margin-right: 2rem;
}
