* {
  box-sizing: border-box;
}

*::selection {
  background-color: #ff6833;
  color: white;
}

body {
  background-color: #fafafa;
  color: #262626;
}

.pages-container {
  padding: 0 3rem 0 6rem;
}

button {
  background-color: #ff6833;
  border: 1px solid #ff6833;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 16px;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background-color: white;
  color: #ff6833;
}

a {
  color: #ff6833;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: #838d9b;
}
